.videoPlayerHolder {
	padding-bottom: 50px;
	border-bottom: 2px solid black;
}
.likeCountHolder {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.thumbsUp {
	width: 28px;
	height: 28px;
	margin-right: 10px;
}
.videoPlayer {
	width: 60vw;
	height: 33.75vw;
}
.VideoPlayerTitle {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
}
